In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [15]:
#Load Data from excercise 1 into DF
cities= "../WeatherPy/output_data/Cities_raw_data.csv"
cities_df = pd.read_csv(cities)
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,tugulym,57.0591,64.6425,66.27,90.0,41.0,2.06,RU
1,kodiak,57.7900,-152.4072,58.51,82.0,1.0,4.61,US
2,tuktoyaktuk,69.4541,-133.0374,60.80,77.0,75.0,8.05,CA
3,avarua,-21.2078,-159.7750,75.25,83.0,20.0,6.91,CK
4,puerto leguizamo,-0.1934,-74.7819,75.43,88.0,98.0,2.68,CO
...,...,...,...,...,...,...,...,...
605,san juan,-31.5375,-68.5364,60.06,20.0,0.0,3.85,AR
606,esfarayen,37.0765,57.5101,80.55,16.0,0.0,12.35,IR
607,isla vista,34.4133,-119.8610,97.12,69.0,1.0,5.75,US
608,warin chamrap,15.1932,104.8628,75.88,88.0,100.0,11.03,TH
609,hofn,64.2539,-15.2082,59.02,67.0,20.0,9.22,IS

In [16]:
#configure gmaps and Use the Lat and Lng as locations and Humidity as the weight.Add Heatmap layer to map.
gmaps.configure(api_key=g_key)

cities_df= cities_df.dropna()
locations = cities_df[["Lat", "Lng"]].astype(float)
humidity= cities_df["Humidity"].astype(float)

In [17]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#Narrow down the cities to fit conditions of temps greater than 80, Southern hemisphere between -10 and the equator. 
# Drop any rows will null values
Cities_Vacation_df =  cities_df.loc[(cities_df['Max Temp']>80) & (cities_df['Lat']<0) & (cities_df['Lat']>-10)]
Cities_Vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
12,gizo,-8.1030,156.8419,81.05,79.0,77.0,9.04,SB
72,sena madureira,-9.0656,-68.6569,84.45,34.0,6.0,6.13,BR
76,itamaraca,-7.7478,-34.8256,81.28,74.0,34.0,11.95,BR
115,lorengau,-2.0226,147.2712,80.46,80.0,89.0,4.38,PG
118,hithadhoo,-0.6000,73.0833,82.94,68.0,99.0,4.56,MV
191,estreito,-5.7833,-43.2500,100.36,23.0,11.0,3.67,BR
201,puerto narino,-3.7703,-70.3831,86.54,56.0,42.0,5.75,CO
273,augusto correa,-1.0217,-46.6350,84.97,70.0,66.0,5.12,BR
354,tshikapa,-6.4167,20.8000,81.93,22.0,42.0,3.20,CD
380,sao luis do quitunde,-9.3183,-35.5611,80.04,81.0,53.0,7.83,BR
478,touros,-5.1989,-35.4608,83.30,64.0,42.0,15.08,BR
487,bulungu,-4.5500,18.6000,84.29,20.0,49.0,1.95,CD
532,carauari,-4.8828,-66.8958,90.68,42.0,3.0,5.55,BR
533,madingou,-4.1536,13.5500,87.64,37.0,61.0,4.07,CG
585,manggar,-2.8833,108.2667,80.60,82.0,54.0,8.32,ID
586,moanda,-1.5575,13.2178,84.85,43.0,100.0,3.53,GA
590,manaus,-3.1019,-60.0250,90.10,66.0,40.0,3.44,BR
600,ilebo,-4.3167,20.5833,82.38,26.0,32.0,1.25,CD

In [8]:
# Add column for Hotel name and initalize it

Cities_Vacation_df['Hotel Name'] = ""
Cities_Vacation_df

C:\Users\jillp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
12,gizo,-8.1030,156.8419,81.05,79.0,77.0,9.04,SB,
72,sena madureira,-9.0656,-68.6569,84.45,34.0,6.0,6.13,BR,
76,itamaraca,-7.7478,-34.8256,81.28,74.0,34.0,11.95,BR,
115,lorengau,-2.0226,147.2712,80.46,80.0,89.0,4.38,PG,
118,hithadhoo,-0.6000,73.0833,82.94,68.0,99.0,4.56,MV,
191,estreito,-5.7833,-43.2500,100.36,23.0,11.0,3.67,BR,
201,puerto narino,-3.7703,-70.3831,86.54,56.0,42.0,5.75,CO,
273,augusto correa,-1.0217,-46.6350,84.97,70.0,66.0,5.12,BR,
354,tshikapa,-6.4167,20.8000,81.93,22.0,42.0,3.20,CD,
380,sao luis do quitunde,-9.3183,-35.5611,80.04,81.0,53.0,7.83,BR,
478,touros,-5.1989,-35.4608,83.30,64.0,42.0,15.08,BR,
487,bulungu,-4.5500,18.6000,84.29,20.0,49.0,1.95,CD,
532,carauari,-4.8828,-66.8958,90.68,42.0,3.0,5.55,BR,
533,madingou,-4.1536,13.5500,87.64,37.0,61.0,4.07,CG,
585,manggar,-2.8833,108.2667,80.60,82.0,54.0,8.32,ID,
586,moanda,-1.5575,13.2178,84.85,43.0,100.0,3.53,GA,
590,manaus,-3.1019,-60.0250,90.10,66.0,40.0,3.44,BR,
600,ilebo,-4.3167,20.5833,82.38,26.0,32.0,1.25,CD,

In [9]:
# Retrieve the hotel data
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": "5000",
    "type": "lodging",
    "key": g_key,
     
}
# use iterrows to iterate through pandas dataframe
for index, row in Cities_Vacation_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    city = row["City"]

    # assemble url and make API request
    print(f"Retrieving Results for {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel to {city} is {results[0]['name']}.")
        Cities_Vacation_df.loc[index, 'Hotel Name'] = results[0]['name']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for gizo.
Closest hotel to gizo is Imagination Island.
------------
Retrieving Results for sena madureira.

C:\Users\jillp\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Closest hotel to sena madureira is Hotel Central.
------------
Retrieving Results for itamaraca.
Closest hotel to itamaraca is Special K's Bed & Breakfast.
------------
Retrieving Results for lorengau.
Closest hotel to lorengau is Lorengau Harbourside Hotel.
------------
Retrieving Results for hithadhoo.
Closest hotel to hithadhoo is Scoop Guest House.
------------
Retrieving Results for estreito.
Missing field/result... skipping.
------------
Retrieving Results for puerto narino.
Closest hotel to puerto narino is Eware Refugio Amazonico.
------------
Retrieving Results for augusto correa.
Closest hotel to augusto correa is Fazenda Bacuri.
------------
Retrieving Results for tshikapa.
Closest hotel to tshikapa is Hôtel Tshia-Muntu de Tshikapa.
------------
Retrieving Results for sao luis do quitunde.
Closest hotel to sao luis do quitunde is Sao dos satos lins.
------------
Retrieving Results for touros.
Closest hotel to touros is INN NEW HORIZON.
------------
Retrieving Results for bulungu.
Missing field/result... skipping.
------------
Retrieving Results for carauari.
Closest hotel to carauari is Hotel Fellip.
------------
Retrieving Results for madingou.
Closest hotel to madingou is HOTEL KIM ELISA.
------------
Retrieving Results for manggar.
Closest hotel to manggar is Guest Hotel.
------------
Retrieving Results for moanda.
Closest hotel to moanda is Heliconia Stadium Moanda.
------------
Retrieving Results for manaus.
Closest hotel to manaus is Manaus Hotéis Millennium.
------------
Retrieving Results for ilebo.
Closest hotel to ilebo is Hôtel BUMAK.
------------

In [10]:
# Check the outpout 
Cities_Vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
12,gizo,-8.1030,156.8419,81.05,79.0,77.0,9.04,SB,Imagination Island
72,sena madureira,-9.0656,-68.6569,84.45,34.0,6.0,6.13,BR,Hotel Central
76,itamaraca,-7.7478,-34.8256,81.28,74.0,34.0,11.95,BR,Special K's Bed & Breakfast
115,lorengau,-2.0226,147.2712,80.46,80.0,89.0,4.38,PG,Lorengau Harbourside Hotel
118,hithadhoo,-0.6000,73.0833,82.94,68.0,99.0,4.56,MV,Scoop Guest House
191,estreito,-5.7833,-43.2500,100.36,23.0,11.0,3.67,BR,
201,puerto narino,-3.7703,-70.3831,86.54,56.0,42.0,5.75,CO,Eware Refugio Amazonico
273,augusto correa,-1.0217,-46.6350,84.97,70.0,66.0,5.12,BR,Fazenda Bacuri
354,tshikapa,-6.4167,20.8000,81.93,22.0,42.0,3.20,CD,Hôtel Tshia-Muntu de Tshikapa
380,sao luis do quitunde,-9.3183,-35.5611,80.04,81.0,53.0,7.83,BR,Sao dos satos lins
478,touros,-5.1989,-35.4608,83.30,64.0,42.0,15.08,BR,INN NEW HORIZON
487,bulungu,-4.5500,18.6000,84.29,20.0,49.0,1.95,CD,
532,carauari,-4.8828,-66.8958,90.68,42.0,3.0,5.55,BR,Hotel Fellip
533,madingou,-4.1536,13.5500,87.64,37.0,61.0,4.07,CG,HOTEL KIM ELISA
585,manggar,-2.8833,108.2667,80.60,82.0,54.0,8.32,ID,Guest Hotel
586,moanda,-1.5575,13.2178,84.85,43.0,100.0,3.53,GA,Heliconia Stadium Moanda
590,manaus,-3.1019,-60.0250,90.10,66.0,40.0,3.44,BR,Manaus Hotéis Millennium
600,ilebo,-4.3167,20.5833,82.38,26.0,32.0,1.25,CD,Hôtel BUMAK

In [11]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Cities_Vacation_df.iterrows()]
locations = Cities_Vacation_df[["Lat", "Lng"]]

In [12]:
# map the layers together
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)


fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))